<link rel="stylesheet" href="">
<link rel="stylesheet" href="/css/sign-up-login.css">
<h1 class="page-heading">Login to your CODEIAL account here.</h1>
<form class="login-signup-form" action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <span toggle ="#password-input" class="fas fa-eye show-pass-icon toggle-pwd" ></span>
    <input type="password" id="password-input" name="password" placeholder="Password" required>
    
    <button class="login-signup-btn" type="submit">Login</button>
</form>
<p>
    <a href="/users/auth/google">
        
        <button><i class="fab fa-google"></i> &nbsp Sign in/Sign Up with Google</button>
    </a>
</p>
<script src="/js/users_login.js"></script>