body {
  background-color: #4a4a4a;
  color: azure;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans; }
  body ::placeholder {
    opacity: 1;
    color: azure; }
  body #layout-main {
    margin-top: 50px; }
  body .page-heading {
    margin-top: 50px;
    padding: 1rem;
    width: 100%; }
  body .login-signup-btn {
    height: auto;
    font-size: medium;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: #4a4a4a;
    outline: none;
    border: none;
    color: azure;
    cursor: pointer; }
  body .delete a {
    color: azure;
    text-decoration: none; }
